In [1]:
import pandas as pd

In [2]:
ufo = pd.read_csv('ufo_new.csv')

In [3]:
ufo

,City,Colors,Shape,State,Time,Month,Day,Year
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00,6,1,1930
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00,6,30,1930
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00,2,15,1931
3,Abilene,NaN,DISK,KS,6/1/1931 13:00,6,1,1931
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00,4,18,1933
5,Valley City,NaN,DISK,ND,9/15/1934 15:30,9,15,1934
6,Crater Lake,NaN,CIRCLE,CA,6/15/1935 0:00,6,15,1935
7,Alma,NaN,DISK,MI,7/15/1936 0:00,7,15,1936
8,Eklutna,NaN,CIGAR,AK,10/15/1936 17:00,10,15,1936
9,Hubbard,NaN,CYLINDER,OR,6/15/1937 0:00,6,15,1937
10,Fontana,NaN,LIGHT,CA,8/15/1937 21:00,8,15,1937
11,Waterloo,NaN,FIREBALL,AL,6/1/1939 20:00,6,1,1939
12,Belton,RED,SPHERE,SC,6/30/1939 20:00,6,30,1939
13,Keokuk,NaN,OVAL,IA,7/7/1939 2:00,7,7,1939
14,Ludington,NaN,DISK,MI,6/1/1941 13:00,6,1,1941
15,Forest Home,NaN,CIRCLE,CA,7/2/1941 11:30,7,2,1941
16,Los Angeles,NaN,NaN,CA,2/25/1942 0:00,2,25,1942
17,Hapeville,NaN,NaN,GA,6/1/1942 22:30,6,1,1942
18,Oneida,NaN,RECTANGLE,TN,7/15/1942 1:00,7,15,1942
19,Bering Sea,RED,OTHER,AK,4/30/1943 23:00,4,30,1943
20,Nebraska,NaN,DISK,NE,6/1/1943 15:00,6,1,1943
21,NaN,NaN,NaN,LA,8/15/1943 0:00,8,15,1943
22,NaN,NaN,LIGHT,LA,8/15/1943 0:00,8,15,1943
23,Owensboro,NaN,RECTANGLE,KY,10/15/1943 11:00,10,15,1943
24,Wilderness,NaN,DISK,WV,1/1/1944 10:00,1,1,1944
25,San Diego,NaN,CIGAR,CA,1/1/1944 12:00,1,1,1944
26,Wilderness,NaN,DISK,WV,1/1/1944 12:00,1,1,1944
27,Clovis,NaN,DISK,NM,4/2/1944 11:00,4,2,1944
28,Los Alamos,NaN,DISK,NM,6/1/1944 12:00,6,1,1944
29,Ft. Duschene,NaN,DISK,UT,6/30/1944 10:00,6,30,1944
...,...,...,...,...,...,...,...,...
80513,Manahawkin,NaN,CIRCLE,NJ,9/4/2014 8:30,9,4,2014
80514,New Bedford,NaN,LIGHT,MA,9/4/2014 9:47,9,4,2014
80515,Woodbridge,NaN,TRIANGLE,VA,9/4/2014 16:30,9,4,2014
80516,Glendale,NaN,CYLINDER,CA,9/4/2014 17:38,9,4,2014
80517,Laconia,NaN,CIGAR,NH,9/4/2014 19:02,9,4,2014
80518,Langhorne,NaN,OTHER,PA,9/4/2014 19:30,9,4,2014
80519,Glen Ellyn,RED,CIRCLE,IL,9/4/2014 20:20,9,4,2014
80520,Waynesburg,NaN,FLASH,PA,9/4/2014 20:25,9,4,2014
80521,Canal Winchester,NaN,TRIANGLE,OH,9/4/2014 20:30,9,4,2014
80522,Lawrence,ORANGE,LIGHT,MA,9/4/2014 20:30,9,4,2014
80523,Ellicott City,NaN,LIGHT,MD,9/4/2014 20:45,9,4,2014
80524,Olympia,RED,LIGHT,WA,9/4/2014 21:10,9,4,2014
80525,Iowa City,BLUE,LIGHT,IA,9/4/2014 21:11,9,4,2014
80526,Marshfield,NaN,LIGHT,MA,9/4/2014 21:15,9,4,2014
80527,Seattle,NaN,DIAMOND,WA,9/4/2014 21:15,9,4,2014
80528,North Royalton,RED,TRIANGLE,OH,9/4/2014 21:30,9,4,2014
80529,Deer Park,NaN,LIGHT,WA,9/4/2014 22:00,9,4,2014
80530,Glen St. Mary,NaN,DISK,FL,9/4/2014 22:00,9,4,2014
80531,Abingdon,NaN,CIRCLE,VA,9/4/2014 22:05,9,4,2014
80532,Lawrence,NaN,LIGHT,MA,9/4/2014 22:15,9,4,2014
80533,Melbourne,NaN,OVAL,IA,9/4/2014 22:15,9,4,2014
80534,Burleson,NaN,LIGHT,TX,9/4/2014 22:30,9,4,2014
80535,Elizabethtown,NaN,CIRCLE,KY,9/4/2014 22:30,9,4,2014
80536,Wyoming,RED,DISK,PA,9/4/2014 23:00,9,4,2014
80537,Neligh,NaN,CIRCLE,NE,9/4/2014 23:20,9,4,2014
80538,Neligh,NaN,CIRCLE,NE,9/4/2014 23:20,9,4,2014
80539,Uhrichsville,NaN,LIGHT,OH,9/5/2014 1:14,9,5,2014
80540,Tucson,RED BLUE,NaN,AZ,9/5/2014 2:40,9,5,2014
80541,Orland park,RED,LIGHT,IL,9/5/2014 3:43,9,5,2014
80542,Loughman,NaN,LIGHT,FL,9/5/2014 5:30,9,5,2014